@import "tailwindcss";

@theme {
  /* Фирменные цвета завода */
  --color-factory-dark-blue: #001a34; /* Фон 1-го экрана */
  --color-factory-navy: #0a2540;      /* Заголовки */
  --color-factory-blue: #003f98;      /* Акцентный синий (кнопки) */
  --color-factory-gray: #667085;      /* Текст описаний */
  
  /* Шрифты (если у завода используется Inter, система подтянет его) */
  --font-sans: "Inter", "sans-serif";
}

@utility no-scrollbar {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
  
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari и Opera */
  }
}